# Environment
NODE_ENV=development

# API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Store Configuration
NEXT_PUBLIC_STORE_NAME=Infi Commerce
REVALIDATION_SECRET="INFICommerce-505"