# Environment
NODE_ENV=development
PORT=6102

# API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Admin credentials (for initial setup)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
